*.suo
googletest/sample1/vs2010/sample1.opensdf
*.user
googletest/sample1/vs2010/sample1.sdf
*.log
*.opensdf
googletest/google_demos_samples_vs2010.sdf
googletest/google_demos_samples_vs2015.VC.db
googletest/samplex/vs2010/samplex.sdf
*.ipch
googletest/gtest_demos_samples_vs2010.sdf
*.db
googletest/sample1/vs2015/test_results.xml
*.sdf
*.manifest
*.tlog
*.obj
*.opendb
*.pdb
googletest/sample3/vs2010/Debug/sample3_manifest.rc
*.idb
googletest/sample3/vs2010/Debug/sample3.vcxprojResolveAssemblyReference.cache
*.lastbuildstate
googletest/sample3/vs2010/Debug/sample3.exe.embed.manifest.res
*.ilk